.Stylee { font-style: italic;
        font-weight: 200;
        color: rgb(34, 109, 180);
        text-indent: 10px;   
}   

.One  { width: 80px;
        height: 90px;

}

.Two { width: 80px;
       height: 90px;

}

.Three { width: 80px;
    height: 90px;

} 

.Four { width: 80px;
    height: 90px;

}

.Five { width: 80px;
    height: 90px;

} 

.Six {  width: 80px;
    height: 90px;

}

.Seven { display: block;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 275px
} 

.Super {
    font-style: italic;
    font-weight: 200;
    color: rgb(34, 109, 180);
    text-indent: 10px;   
}

.NeoRhythm {width: 280px;
           height:280px;
           object-fit: contain;

}

.NeoWrap {width: 280px;
    height:280px;
    object-fit: contain;

}

p {
    text-indent: 10px;   

}

.Seventy { display: block;
    margin-left: auto;
    margin-right: auto;
    width: 580px;
    height: 285px

}

.Get {
    color: red;
} 

.navbar-custom {
    background-color: lightgreen;
} 

Link {
    color: inherit;
    text-decoration: inherit;
}

.Neo3{ 
    margin-left: auto;
    margin-right: auto;   
    display: block;
    width: 20%; 
    

}

.button1 { background-color: #008CBA;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.button1:hover {
    background-color: #c58a0c; /* Green */
    color: white;
  }



